{% extends 'base.html' %}
{% load static %}
{% block main %}
<section class="hero">
    <div class="hero-content">
        <h1>About us</h1>
        <a href="/">Home</a> <span class="hero-ado">/ About us</span>
    </div>
    <img  src="{% static 'images/jumbotron.jpg' %}" alt="dog image" class="hero-img">
</section>


<div class="container section">
    <div class="section-two">
        <img src="{% static 'images/shelter.jpg' %}" alt="dog image">

    </div>

    <div class="section-two">
        <h6 class="header6">WHAT WE DO</h6>
        <h1 class="header1">About our Shelter</h1>
        <p>At Pet Love, our mission is simple yet profound: to connect homeless pets with loving families and provide comprehensive support throughout the adoption process. </p> 
        <p>We believe that every pet deserves a chance at a happy, fulfilling life, and we're committed to making that a reality for animals in need.</p>
        <p>Pet Love is a cutting-edge platform designed to streamline the pet adoption process for shelters, adopters, and volunteers alike</p>
        
        <button class="adopt-button">Be a volunteer</button>
    </div>
</div>


<div class="donate-container">
    <div class="container section">
        <div class="about-text section-two">
            <h1 class="header1">Finding Loving Homes</h1>
            <p>At Pet Love, our mission is simple yet profound: to connect homeless pets with loving families and provide comprehensive support throughout the adoption process. </p> 
            <p>We believe that every pet deserves a chance at a happy, fulfilling life, and we're committed to making that a reality for animals in need.</p>
            <p>Pet Love is a cutting-edge platform designed to streamline the pet adoption process for shelters, adopters, and volunteers alike</p>
            
            <button class="adopt-button">Contact us</button>
        </div>

        <div class="section-two">
            <img src="{% static 'images/shelter.jpg' %}" alt="dog image">

        </div>
    
    </div>
</div>


<div class="counter-container">
    <div class="counter">
        <div class="counter-cards">
            <h1>800+</h1>
            <h2>Pets Adopted</h2>
        </div>
        <div class="counter-cards">
            <h1>40+</h1>
            <h2>volunteers</h2>
        </div>
        <div class="counter-cards">
            <h1>1500+</h1>
            <h2>Happy Clients</h2>
        </div>
    </div>
</div>

<div class="container section">
    <div class="section-two">
        <img src="{% static 'images/about3.png' %}" alt="dog image">

    </div>

    <div class="about-text section-two">
        <h6 class="header6">WHAT WE DO</h6>
        <h1 class="header1">Our Philosophy</h1>
        <p>At Pet Love, our mission is simple yet profound: to connect homeless pets with loving families and provide comprehensive support throughout the adoption process. </p> 
        <p>We believe that every pet deserves a chance at a happy, fulfilling life, and we're committed to making that a reality for animals in need.</p>
        <p>Pet Love is a cutting-edge platform designed to streamline the pet adoption process for shelters, adopters, and volunteers alike</p>
        
        <button class="adopt-button">Adopt today</button>
    </div>
  
</div>



{% endblock %}