{% extends 'base.html' %}
{% load static %}
{% block main %}
<section class="hero">
    <div class="hero-content">
        <h1>Adopt</h1>
        <a href="/">Home</a> <span class="hero-ado">/ Adopt</span>
    </div>
    <img  src="{% static 'images/jumbotron.jpg' %}" alt="dog image" class="hero-img">
</section>
<div class="container">
<section class="adopt">
    <h6 class="header6">Find a new friend</h6>
    <p>Find your new furry family member here, ready to bring joy into your life. <br> Each pet has a story and is waiting for a loving home. <br> Start your journey of unconditional love today by browsing our adorable pets!</p>
    <div class="pet-categories">
        <button class="category-btn active"> All Pets</button> 
        <button class="category-btn">Dogs</button> 
        <button class="category-btn">Cats</button>

    </div>
</section>
<div class="pet-card-categories">
    {% for pet in pets %}
    <div class="pet-card">
        <img src="{{pet.image.url}}" alt="image of a pet">
        <h1>{{pet.name}}</h1>
        <h2>{{pet.age}} {{pet.month_year}} old</h2>
        <h3> Ksh {{pet.price}}</h3>
        <p class="desc">{{pet.description}}</p>

        <button class="adopt-button">
        <a href="{% url 'pet_detail' pet.id %}">More Info</a>
        </button>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}