{% extends 'base.html' %}
{% load static %}
{% block main %}
<section class="hero">
    <div class="hero-content">
        <h1>Your Shopping Cart</h1>
        <a href="/">Home</a> <span class="hero-ado">/ Your Shopping cart</span>
    </div>
       <img  src="{% static 'images/jumbotron.jpg' %}" alt="dog image" class="hero-img">
</section>
<div class="cart">
<table>
    <tr>
        <th>Product Item</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>
            <img src="../static/images/adopthero.webp" alt="dog image">
            <span>Pipo</span>
            <span>3 years old</span>
        </td>
        <td>1 <i class="fa-solid fa-trash-can"></i></td>
        <td>Ksh 300</td>
    </tr>
    <tr>
        <td>
            <img src="../static/images/adopthero.webp" alt="dog image">
            <span>Pipo</span>
            <span>3 years old</span>
        </td>
        <td>1 <i class="fa-solid fa-trash-can"></i></td>
        <td>Ksh 300</td>
    </tr>
    <tr>
        <td>
            <img src="../static/images/adopthero.webp" alt="dog image">
            <span>Pipo</span>
            <span>3 years old</span>
        </td>
        <td>1 <i class="fa-solid fa-trash-can"></i></td>
        <td>Ksh 300</td>
    </tr>
    <tr>
        <td>
            <img src="../static/images/adopthero.webp" alt="dog image">
            <span>Pipo</span>
            <span>3 years old</span>
        </td>
        <td>1 <i class="fa-solid fa-trash-can"></i></td>
        <td>Ksh 300</td>
    </tr>
</table>
<div class="total-amount">
    <div class="total">
        <h1>Total Amount</h1>
        <h2>Total amount Ksh 800</h2>
        <p>Taxes and shipping are calculated at checkout</p>

        <button class="adopt-button"> <a href="{% url 'checkout'  %}"> Checkout</a></button>
    </div>
</div>





</div>

{% endblock %}