{% extends 'base.html' %}
{% load static %}
{% block main %}
<section class="hero">
    <div class="hero-content">
        <h1>Donate</h1>
        <a href="/">Home</a> <span class="hero-ado">/ Donate</span>
    </div>
    <img  src="{% static 'images/jumbotron.jpg' %}" alt="dog image" class="hero-img">
</section>


<div class="container section">
  

  <div class="section-two">
      <h1 class="header1">Donate To our animal shelter</h1>
      <p>We believe that every animal deserves a safe and happy life. With that goal in mind, we have created animal shelters across the country to vaccinate, rescue, and foster stray cats and dogs</p>
      <button class="adopt-button">Contact to Donate a Pet</button>
  </div>

  <div class="section-two donate-image">
    <img src="{% static 'images/donate1.png' %}" alt="dog image">

</div>

</div>
<div class="pet-container">

    <div class="container">

      <h1 class="header1">Help Us Save Lives!</h1>
      <h6 class="header6">Transforming lives with your donation: help rescue dogs and cats today!</h6>
      <br><br>
      <div class="donate-money">
          {% for donation, paypal_form in donation_amounts %}
          <div class="money-card">
              <h1>Ksh {{ donation.amount }}</h1>
              <p>{{ donation.description }}</p>
              {{ paypal_form.render }}
          </div>
          {% endfor %}
      </div>
    </div>
</div>
{% endblock %}