{% extends 'base.html' %}
{% load static %}
{% block main %}
<section class="hero">
    <div class="hero-content">
        <h1>Donate</h1>
        <a href="/">Home</a> <span class="hero-ado">/ Donate</span>
    </div>
    <img  src="{% static 'images/jumbotron.jpg' %}" alt="dog image" class="hero-img">
</section>


<div class="container section">
  

  <div class="section-two">
      <h1 class="header1">Donate To our animal shelter</h1>
      <p>We believe that every animal deserves a safe and happy life. With that goal in mind, we have created animal shelters across the country to vaccinate, rescue, and foster stray cats and dogs</p>
      <button class="adopt-button">Contact to Donate a Pet</button>
  </div>

  <div class="section-two donate-image">
    <img src="{% static 'images/donate1.png' %}" alt="dog image">

</div>

</div>
<div class="pet-container">

<div class="container">

<h1 class="header1">Help Us Save Lives!</h1>
<h6 class="header6">Transforming lives with your donation: help rescue dogs and cats today!</h6>
<br>
<br>
<div class="donate-money">
  <div class="money-card">
    <h1>Ksh 500</h1>
    <p>Help provide food and shelter for a pet in need.</p>
    <button class="adopt-button"> <i class="fa-solid fa-dollar-sign"></i> Donate Now</button>
  </div>

  <div class="money-card">
    <h1>Ksh 1000</h1>
    <p>Contribute to medical care and vaccinations for rescued animals.</p>
    <button class="adopt-button"> <i class="fa-solid fa-dollar-sign"></i> Donate Now</button>
  </div>

  <div class="money-card">
    <h1>Ksh 2000</h1>
    <p>Sponsor the adoption fee for a pet, making it easier for them to find a loving family.</p>
    <button class="adopt-button"> <i class="fa-solid fa-dollar-sign"></i> Donate Now</button>
  </div>

</div>
</div>
</div>
{% endblock %}