{% extends 'base.html' %}
{% load static %}
{% block main %}
<section class="hero">
    <div class="hero-content">
        <h1>Donate</h1>
        <a href="/">Home</a> <span class="hero-ado">/ Donate</span>
    </div>
    <img  src="{% static 'images/jumbotron.jpg' %}" alt="dog image" class="hero-img">
</section>

<div class="donate">
  <div class="donate-desc">
    <h2>Donate To our animal shelter </h2>

    <p>We believe that every animal deserves a safe and happy life. With that goal in mind, we have created animal shelters across the country to vaccinate, rescue, and foster stray cats and dogs</p>
    
    <button class="adopt-button">Contact to Donate a Pet <i class="fa-solid fa-arrow-right"></i></button>
  </div>
  <img src="{% static 'images/donate1.png' %}" alt="dog image">
  
</div>

<h2>transforming lives with your donation: help rescue dogs and cats today!</h2>

<div class="donate-money">
  <div class="money-card">
    <h1>Ksh 500</h1>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
    <button class="adopt-button"> <i class="fa-solid fa-dollar-sign"></i> Donate Now</button>
  </div>

  <div class="money-card">
    <h1>Ksh 500</h1>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
    <button class="adopt-button"> <i class="fa-solid fa-dollar-sign"></i> Donate Now</button>
  </div>

  <div class="money-card">
    <h1>Ksh 500</h1>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
    <button class="adopt-button"> <i class="fa-solid fa-dollar-sign"></i> Donate Now</button>
  </div>

</div>
{% endblock %}