{% load static %}

<div class="footer-container">

    <div class="footer container">
        <div class="footer-items">
        <img src="{%static 'images/logo.png' %}" alt="logo"> <span>Pet Love</span>
        </div>
        <div class="footer-items">
            <h3>Visit Us</h3>
            <p>256 0100, Ongata Rongai, Kajiado county, Kenya <br>
            Tel 0728169645</p>
        </div>
        <div class="footer-items">
            <h3>Opening Hours</h3>
            <p>Monday - Friday </br>
            08:00am - 05:00 pm <br>
            Saturday - Sunday _ Closed</p>
        </div>
        <div class="footer-items">
            <h3>Newsletter</h3>
            <input type="email" placeholder="Your email here">
            <button class="adopt-button">Subscribe</button>
        </div>

    </div>
</div>

<div class="copyright">
    <p>© 2024 / design by <a href="https://github.com/jakom001">Andrew Peter</a>
 </div>
