{% load static %}
<div class="footer">
    <div class="footer-items">
    <img src="{%static 'images/logo.png'}" alt="logo"> Pet AdoptionManagement System
    </div>
    <div class="footer-items">
        <h1>Visit Us</h1>
        <p>256 0100, Ongata Rongai, Kajiado county, Kenya</p>
        <p>Tel 0728169645</p>
    </div>
    <div class="footer-items">
        <h1>Opening Hours</h1>
        <p>Monday - Friday</p>
        <p>08:00am - 05:00 pm</p>
        <p>Saturday - Sunday _ Closed</p>
    </div>
    <div class="footer-items">
        <h1>Newsletter</h1>
        <input type="email" placeholder="Your email here">
        <button class="adopt-button">Subscribe</button>
    </div>

</div>
<div class="copyright">
    <p>© 2024 / design by <a href="https://github.com/jakom001">Andrew</a>
 </div>