{% extends "base.html" %}
{% load static %}
{% block main %}

<div class="hero-home">
    <h1>Every Dog has its every day</h1>

    <p>Whether you're seeking a playful pup, a cuddly cat, or a delightful critter, find your perfect match today. Open your heart and home to a furry friend in need. Start your journey of unconditional love and companionship right here.</p>

    <button class="adopt-button">Adopt now</button>
</div>


<div class="about">
    <div class="about-text about-two">
        <h1>About us</h1>
        <h2>Our Shelter</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <p>Duis aute irure dolor in reprehenderit in Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat:</p>

        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
    </div>
    <div class="about-image about-two">
        <img src="{% static 'images/shelter.jpg' %}" alt="dog image">

    </div>
</div>
<div class="home-section">

    <div class="donate">
        <img src="{% static 'images/donate.png' %}" alt="dog image">
    </div>

    <div class="make-donation">
        <h2>Make a Donation</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <button class="adopt-button">Donate</button>
    </div>

</div>
        <h2>Find your frind</h2>
        <h1>Adopt a pet</h1>
<div class="pet-card-categories">
    {% for pet in pets %}
    <div class="pet-card">
        <img src="{{pet.image.url}}" alt="image of a pet">
        <h1>{{pet.name}}</h1>
        <h2>{{pet.age}} {{pet.month_year}} old</h2>
        <h2>Ksh {{pet.price}}</h2>
        <p>{{pet.description}}</p>

        <button class="adopt-button">
        <a href="{% url 'pet_detail' pet.id %}">More Info</a>
        </button>
    </div>
    {% endfor %}
</div>
            <button class="adopt-pet">See all pets Available for adoption</button>


<div class="counter">
    <div class="counter-cards">
        <h1>800+</h1>
        <h2>Pets Adopted</h2>
    </div>
    <div class="counter-cards">
        <h1>40+</h1>
        <h2>volunteers</h2>
    </div>
    <div class="counter-cards">
        <h1>1500+</h1>
        <h2>Happy Clients</h2>
    </div>
</div>

<h2>GET IN TOUCH</h2>
<h1>Meet our Team</h1>


<div class="team">
    <div class="team-card">
        <img src="" alt="">
            <h1>Jonathan Doe</h1>
            <h2>Veterinarian</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
</div>



            
{% endblock %}