{% load static %}
<div class="top-navbar">
    <p><i class="fa-solid fa-location-dot"></i> 567-0100, Ongata Rongai, Kajiado County Kenya</p>
    <p><i class="fa-solid fa-phone"></i> +254(728) 169 645</p>
    <p><i class="fa-solid fa-envelope"></i> petremosh85@gmail.com</p>
</div>

<div class="navbar">
    <div class="logo">
        <img src="{%static 'images/logo.png' %}" alt="logo image">
        <span>Pet Love</span>
    </div>


<div class="nav-items">
    <a href="/">Home</a>
    <a href="{% url 'about' %}">About us</a>
    <a href="{% url 'adopt' %}">Adoption</a>
    <a href="{% url 'contact' %}">Contact us</a>
    <a href="{% url 'donate' %}">Donate</a>
    
    <a href="{% url 'cart' %}">cart <i class="fa-solid fa-cart-plus"></i> <span class="cart-num">0</span></a>
    {% if user.is_authenticated %}
        <a href="#">Hi {{user.username}} <i class="fa-regular fa-user"></i></a>
    {% else%}
        <a href="#">Login / Register</a>
    {% endif %}
   
</div>
</div> 