{% load static %}
<div class="top-navbar">
    <p>Online order: <a href="tel:+254728169645">(+254)-728-169-645</a></p>			
    <p>Email now:<a href="mailto:sales@doggy.com"> sales@doggy.com</a></p>
</div>


<div class="navbar">
<img src="{%static 'images/logo.avif' %}" alt="logo image">

<div class="nav-items">
    <a href="#">Home</a>
    <a href="#">About us</a>
    <a href="#">Adoption</a>
    <a href="#">Contact us</a>
    <a href="#">Login / Register</a>
    <a href="#">Hi John <i class="fa-regular fa-user"></i></a>
    <a href="#">cart</a>
</div>
</div> 